$tablet-size: 1300px;
$mobile-size: 768px;

$darkGray: #141414;
$darkGrayText: white;

$gray: #424242;
$grayText: #1a1a1a;

$lightGray: #6d6d6d;
$lightGrayText: rgb(15, 15, 15);

$blue: #0277bd;
$blueText: white;

$lightBlue: #58a5f0;
$lightBlueText: rgb(32, 32, 32);

$darkBlue: #004c8c;
$darkBlueText: rgb(0, 0, 0);